<h1 mat-dialog-title>Which fields would you likie to add to the form?</h1>

<div mat-dialog-content class="content" [formGroup]="dialogForm">
  <div>
    <mat-checkbox formControlName="phone">Phone Number</mat-checkbox>
  </div>
  <div>
    <mat-checkbox formControlName="email">Email</mat-checkbox>
  </div>
  <mat-checkbox formControlName="hobbies">Hobbies</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="dialogForm.value" cdkFocusInitial>
    Ok
  </button>
</div>
