form {
  display: flex;
  flex-direction: column;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mat-card-header .mat-card-title {
  margin: 0;
}

.button {
  margin-top: 15px;
}
